body {
  background-color: #458B74;
  color: #CD661D;
  font-family: Arial, sans-serif;
}

img {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

ol {
  list-style-position: inside;
}

.artist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  margin-bottom: 1rem;
}

.artist p {
  margin: 0;
  font-size: 1.2rem;
}

.artist img {
  margin-left: 1rem;
  border-radius: 6px;
}

